.main-menu{
    padding:12px 0;
    li{
        padding:0 25px;
        a{
            color: white;
            font-size: 18px;
            &:hover{
                color: @darkGray;
                .transition(all 0.3s ease);
                text-decoration: none;
            }
        }
    }
}
