.search-section{
    h2{
        padding-bottom: 20px;
    }
    .search-control{
        height: 40px;
        width: 500px;
        margin:0 auto;
        @media(max-width: @screen-xs){
            width: 100%;
        }
    }
    .alert-btn{
        text-transform: uppercase;
        background-color: white;
        height: 36px;
        color: @green;
        font-weight: bold;
        line-height: 18px;
        padding:7px 15px;
        .border-radius(3px);
        border:2px solid @green;
        margin-top: 30px;
        @media(max-width: @screen-xs){
            width: 200px;
            white-space: normal;
            height: 60px;
            text-align: left;
            background-color: transparent;
        }
        img{
            padding-right: 10px;
            @media(max-width: @screen-xs){
                padding-right: 5px;
            }
        }
    }
}

.proposition-container{
    padding:25px 45px;
    .title-proposition{
        font-size: 15px;
        h4{
            display: inline-block;
            vertical-align: super;
            font-weight: normal;
        }
        .counter{
            height: 26px;
            width: 26px;
            border-width: 2px;
            border-style: solid;
            border-radius: 2px;
            display: inline-block;
            position: relative;
            margin-right: 10px;
            &.green{
                border-color:@green;
            }
            &.orange{
                border-color:@orange;
            }
            &.blue{
                border-color:@blue;
            }
            span{
                position: absolute;
                top: 50%;
                left: 50%;
                .translate(-50%,-50%);
            }
        }
    }
    .content-description{
        padding-left: 15px;
    }
}

.job-container{
    padding:45px;
    .job-header{
        text-align: center;
    }
    .job-info{
        font-size: 16px;
        display: inline-block;
        padding:0 50px;
        span{
            display: block;
            text-align: left;
        }
    }
}
