
<!-- header -->
<header class="main-header bg--verydarkblue">
    <div class="container">
        <div class="display-flex align-items--center justify-content--space-between">
            <!-- logo -->
            <a href="/skillyCareerFront/">
                <img src="./assets/img/logo-white.svg" alt="logo">
            </a>
            <!-- menu -->
            <nav class="main-menu">
                <ul class="display-flex">
                    <li>
                        <a href="/skillyCareerFront/?p=profil">Mon profil</a>
                    </li>
                    <li>
                        <a href="#">Mes évaluations</a>
                    </li>
                    <li>
                        <a href="#">Mes demandes</a>
                    </li>
                    <li>
                        <button class="btn btn-icon" type="button" name="button">
                            <img src="./assets/img/icons/turn_off.svg" alt="turn off button">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
