{% include 'partials/menu-responsive.twig' %}

<!-- header -->
<header class="main-header bg--verydarkblue">
    <div class="container nopadding">
        <div class="menu-container">
            <!-- logo -->
            <a href="/skillyCareerFront/?p=stats">
                <img src="./assets/img/logo-white.svg" alt="logo">
            </a>
            <!-- menu -->
            <nav class="main-menu">
                <ul class="display-flex">
                    <li class="{{ activeClass('profil') }}">
                        <a href="/skillyCareerFront/?p=profil">Mon profil</a>
                    </li>
                    <li>
                        <a href="#">Mes évaluations</a>
                    </li>
                    <li>
                        <a href="#">Mes demandes</a>
                    </li>
                    <li>
                        <button class="btn btn-icon" type="button" name="button">
                            <img src="./assets/img/icons/turn_off.svg" alt="turn off button">
                        </button>
                    </li>
                </ul>
            </nav>

            <!-- repsonsive menu -->
            <div class="responsive-menu">
                <div class="menu-wrapper">
                    <div class="hamburger-menu"></div>
                </div>
            </div>

        </div>
    </div>
</header>
