<!-- header -->

<!-- <nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/">Twig testing</a>
</div>
<ul class="nav navbar-nav">
<li class="{{ activeClass('home') }}"><a href="/skillyCareerFront/">Home</a></li>
<li class="{{ activeClass('presentation') }}"><a href="/skillyCareerFront/?p=presentation">Presentation</a></li>
<li class="{{ activeClass('societe') }}"><a href="/skillyCareerFront/?p=company">Company</a></li>
<li class="{{ activeClass('contact') }}"><a href="/skillyCareerFront/?p=contact">Contact</a></li>
</ul>
</div>
</nav> -->
<header class="main-header bg--verydarkblue">
    <div class="container">
        <div class="display-flex align-items--center justify-content--space-between">
            <!-- logo -->
            <img src="./assets/img/logo-white.svg" alt="logo">

            <!-- menu -->
            <nav class="main-menu">
                <ul class="display-flex">
                    <li>
                        <a href="#">Mon profil</a>
                    </li>
                    <li>
                        <a href="#">Mes évaluations</a>
                    </li>
                    <li>
                        <a href="#">Mes demandes</a>
                    </li>
                    <li>
                        <button class="btn btn-icon" type="button" name="button">
                            <img src="./assets/img/icons/turn_off.svg" alt="turn off button">
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
