<!-- sub menu profil -->
<div class="profil-menu">
    <nav>
        <ul class="display-flex justify-content--center">
            <li class="white">
                <a href="/skillyCareerFront/?p=evoluer">
                    <img src="./assets/img/icons/evoluer.svg" alt="evoluer button">
                    <span>Evoluer</span>
                </a>
            </li>
            <li class="white">
                <a  href="/skillyCareerFront/?p=bouger">
                    <img src="./assets/img/icons/bouger.svg" alt="bouger button">
                    <span>Bouger</span>
                </a>
            </li>
            <li class="white">
                <div class="notifications">
                    <span>2</span>
                </div>
                <a href="/skillyCareerFront/?p=perfectionner">
                    <img src="./assets/img/icons/perfectionner.svg" alt="perfectionner button">
                    <span>Me perfectionner dans mon métier</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
