<!-- sub menu profil -->
<div class="profil-menu">
    <nav>
        <ul class="display-flex justify-content--center">
            <li class="white">
                <a href="/skillyCareerFront/?p=evoluer">
                    <img src="./assets/img/icons/evoluer.svg" alt="evoluer button">
                    Evoluer
                </a>
            </li>
            <li class="white">
                <a  href="/skillyCareerFront/?p=bouger">
                    <img src="./assets/img/icons/bouger.svg" alt="bouger button">
                    Bouger
                </a>
            </li>
            <li class="white">
                <a href="/skillyCareerFront/?p=perfectionner">
                    <img src="./assets/img/icons/perfectionner.svg" alt="perfectionner button">
                    Me perfectionner dans mon métier
                </a>
            </li>
        </ul>
    </nav>
</div>
