    <button class="tips-side btn btn-icon btn-reset collapsed" id="#collapseTipsBtn" type="button" name="button" data-toggle="collapse" data-target="#tipsBox">
        <img src="./assets/img/icons/interrogation.svg" alt="tips button">
    </button>
<!-- <div class="tips-side bg--darkgreen">
    <button class="btn btn-icon btn-reset collapsed" id="#collapseTipsBtn" type="button" name="button" data-toggle="collapse" data-target="#tipsBox">
        <img src="./assets/img/icons/interrogation.svg" alt="tips button">
    </button>
</div> -->
<div id="tipsBox" class="collapse">
    <div class="tips-header">
        <h6>Comment choisir mon niveau ?</h6>
        <button class="btn btn-icon btn-reset" type="button" name="button" data-toggle="collapse" data-target="#tipsBox">
            <img src="./assets/img/icons/close_window.svg" alt="close button">
        </button>
    </div>
    <div class="tips-body">
        <ul>
            <li>
                <span>NC</span>
                <p>Je ne suis pas concerné par cette activité</p>
            </li>
            <li>
                <span>0</span>
                <p>Je ne maîtrise pas cette activité</p>
            </li>
            <li>
                <span>1</span>
                <p>J’ai besoin d’un accompagnement sur cette activité</p>
            </li>
            <li>
                <span>2</span>
                <p>Je maîtrise cette activité</p>
            </li>
            <li>
                <span>3</span>
                <p>Je suis expert sur cette activité</p>
            </li>
        </ul>
    </div>
</div>
