.profil-section{
    .table-legends{
        top: 60%;
    }
    h2{
        padding-bottom: 15px;
        padding-top:36px;
    }
    .collapse-wrapper{
        border-bottom: 1px solid #979797;
        padding: 15px;
        @media(max-width: @screen-xs){
            border:none;
            background-color: white;
            margin-bottom: 10px;
        }
        &:first-of-type{
            border-top: 1px solid @darkGrayLine;
            @media(max-width: @screen-xs){
                border:none;
            }
        }
    }
    .collapse-button{
        position: relative;
        a{
            &:after{
                display: none;
            }
        }
        .btn-delete{
            position: absolute;
            right: 10%;
            top: 50%;
            .translateY(-50%);
            @media(max-width: @screen-xs){
                right: 0;
                top: 5%;
            }
        }
        .btn-favori{
            position: absolute;
            right: 80px;
            top: 50%;
            .translateY(-50%);
            
        }
        .hours{
            position: absolute;
            right: 15%;
            top: 50%;
            .translateY(-50%);
            color: @darkGray;
            font-size: 16px;
            @media(max-width: @screen-xs){
                position: relative;
                right: 0;
                top: 0;
                transform: none;
            }
        }
    }
}
.alert-section{
    .alert-item{
        background-color: #F8F8F8;
        padding:25px 20px;
        position: relative;
        margin-bottom: 10px;
        .btn-delete{
            position: absolute;
            right: 2%;
            top: 50%;
            .translateY(-50%);
            @media(max-width: @screen-xs){
                right: 5%;
                top: 15%;
                transform: none;
            }
        }
    }
    .area-wrapper{
        span{
            width: 180px;
            display: inline-block;
            @media(max-width: @screen-xs){
                display: block;
            }
        }
    }
}

.alert-form{
    margin-top: 35px;
    padding:30px 35px;
    @media(max-width: @screen-xs){
        text-align: center;
    }
    form{
        .form-group{
            margin:10px 0;
        }
        input{
            width: 80%;
            border: 1px solid #FFFFFF;
            height: 40px;
            background-color: transparent;
            color: white;
            padding-left: 20px;
            &::placeholder{
                color: white;
            }
        }
        button{
            text-transform: uppercase;
            background-color: white;
            height: 30px;
            color: @green;
            font-weight: bold;
            line-height: 18px;
            padding:7px 15px;
            margin-top: 10px;
            img{
                padding-right: 10px;
            }
        }
    }
}
.tutor-section{
    &.no-border{
        max-width: 100%;
        border:none;
        background-color: #F8F8F8;
    }
}
