.welcome-content{
    max-width: 480px;
    max-height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    .translate(-50%,-50%);
    .welcome-wrapper{
        padding:45px 18px;
        .border-radius(6px);
        h1,h2{
            margin:16px 0;
        }
    }
}

.welcome-slide{
    .carousel-indicators{
        position: initial;
        margin:20px 0;
        left: 0;
        width:100%;
    }
}
