.tutor-section{
    max-width: 795px;
    margin: 0 auto;
    border: 2px solid #13C9A0;
    .border-radius(5px);
    padding:28px;
}
.survey-form{
    padding:20px 0;
}
.survey-question{
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    border-top: 1px solid @green;
    padding:15px 0;
    @media(max-width: @screen-xs){
        display: block;
    }
    &:first-of-type{
        border-top: none;
    }
    .radio-group{
        @media(max-width: @screen-xs){
            text-align: center;
        }
    }
    .question{
        color: @green;
        font-size: 16px;
        font-weight: 500;
        .radio-text{
            &:first-of-type{
                margin-right: 5px;
            }
        }
    }
}
.summary-stats{
    .table-line{
        &:last-of-type{
            border-bottom: none;
        }
    }
    .collapse-button{
        a{
            @media(max-width: @screen-xs){
                padding-bottom:10px;
                border-bottom:1px solid @darkGrayLine;
            }
        }
    }
}
