.form-mobility{
    .custom-radio{
        padding-left: 25px;
        .display-flex();
        .radio-group{
            padding: 0 20px;
        }
        label{
            padding-left:25px;
            font-size: 16px;
            font-weight: normal;
        }
        .checkmark{
            top: 50%;
            .translateY(-50%);
            height: 20px;
            width: 20px;
        }
    }
}
.count{
    padding-bottom: 25px;
}
