.user-header{
    .user-info{
        padding-left: 17px;
    }
}
.step-wrapper{
    padding-left: 20px;
    @media(max-width: @screen-xs){
        .justify-content(center);
    }
    .step-number{
        height: 30px;
        width: 30px;
        border: 2px solid @blue;
        .border-radius(30px);
        margin-right: 35px;
        position: relative;
        &.active{
            background-color: @blue;
            color: white;
            span{
                color: white;
            }
        }
        &:after{
            content:"";
            position: absolute;
            top: 50%;
            left: 30px;
            width: 30px;
            background:@blue;
            height: 3px;
            .translateY(-50%);
        }
        &:last-of-type{
            &:after{
                display: none;
            }
        }
        span{
            position: absolute;
            left: 50%;
            top: 50%;
            color: @blue;
            .translate(-50%,-50%);
        }
    }
}
.evaluation-grid{
    padding:50px 0px 0px;
    @media(max-width: @screen-xs){
        padding:0px 0px 40px;
    }
}
.evaluation-step{
    @media(max-width: @screen-md){
        display: block;
    }
    @media(max-width: @screen-xs){
        width: 100%;
        text-align: center;
    }
}
