{#
Page - bouger
invision:7.1 à 7.2
#}

{% extends 'layout.twig' %}

{% block content %}

<div class="container padding-block--base padding-container-bottom">

    <main>

        <div class="bg--white">

            {% include 'partials/profil-menu.twig' %}

            <div class="padding-content">
                <div class="title-section">
                    <h1 class="font-weight--semibold font-size--base blue text-uppercase display-inline-flex">Changer de carrières</h1>
                </div>

                <div class="profil-section">

                    <div class="counter padding-block--small relative">
                        <h2 class="text-left font-size--base font-weight--semibold">5 propositions</h2>
                        <!-- legends -->
                        <div class="table-legends">
                            <div class="legend-item green-square">
                                Compétences maitrisées
                            </div>
                            <div class="legend-item orange-square">
                                Compétences à renforcer
                            </div>
                        </div>
                    </div>

                    {% for job in jobs %}

                    <div class="collapse-wrapper">
                        <div class="collapse-button">
                            <a class="font-size--sm font-weight--semibold blue collapsed" role="button" data-toggle="collapse" href="#job{{loop.index}}" aria-expanded="false" aria-controls="capacityRelation">
                                <p class="font-weight--normal blue">{{job[0]}}</p>
                            </a>
                            <!-- indicators -->
                            <div class="count-wrapper">
                                <div class="count-item green-square">
                                    <span>4</span>
                                </div>
                                <div class="count-item orange-square">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                        <div class="collapse job-detail" id="job{{loop.index}}">
                            <div class="proposition-container">
                                <div class="proposition-description padding-block--small">
                                    <div class="title-proposition">
                                        <div class="counter green">
                                            <span>4</span>
                                        </div>
                                        <h4>Compétences techniques</h4>
                                    </div>
                                    <div class="content-description">
                                        <ul class="green">
                                            <li>Préparer les travaux en participant à l’organisation et à la mise en place des moyens techniques, matériels et humains</li>
                                            <li>Consulter des fournisseurs et des sous-traitants</li>
                                            <li>Garantir la sécurité de vos équipes et la prévention sur les chantiers.</li>
                                            <li>Veiller au respect de l’enveloppe financière et contractuelle.</li>
                                            <li>Garantir la sécurité de vos équipes et la prévention sur les chantiers.</li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="proposition-description padding-block--small">

                                    <div class="title-proposition">
                                        <div class="counter orange">
                                            <span>4</span>
                                        </div>
                                        <h4>Compétences à acquérir</h4>
                                    </div>
                                    <div class="content-description">
                                        <ul class="orange">
                                            <li>Préparer les travaux en participant à l’organisation et à la mise en place des moyens techniques, matériels et humains</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="proposition-description padding-block--small">
                                    <div class="title-proposition">
                                        <div class="counter blue">
                                            <span>4</span>
                                        </div>
                                        <h4>Postes ouverts</h4>
                                    </div>
                                    <div class="padding-block--small">
                                        <a href="#" class="btn btn-skilly btn-blue btn--small show-post">voir les postes</a>
                                    </div>
                                </div>
                                <div class="job-description">
                                    <h4 class="green">Description du métier</h4>
                                    <div class="padding-block--small">
                                        <p class="font-size--small">Suivant l’avancée du chantier le grutier déplace et distribue des matériaux divers : parpaings, échafaudages, autres outils ou machines de chantier, éléments de béton armé, murs préfabriqués, etc. Toujours des charges très lourdes. Il peut effectuer ces tâches sans visibilité en se fiant aux consignes de signaleurs.
                                        Bien que membre d’une équipe, il est isolé dans sa cabine qui peut être située à plus de 30 mètres du sol. Il communique avec ses signaleurs par radio ou par gestes lorsque la distance n’est pas trop grande.
                                        Il peut effectuer des travaux de nuit et doit se déplacer en fonction des chantiers. Les consignes de sécurité à respecter sont strictes. Etre sujet au vertige interdit formellement l’exercice de ce métier.</p>                                        
                                    </div>
                                </div>
                            </div>

                            <div class="padding-block--md text-center send-manager">
                                <p>Cette offre vous intéresse-t-elle ?</p>
                                <div class="padding-block--small">
                                    <button type="button" name="button" class="btn btn-skilly btn--lg btn-blue btn-rounded font-weight--semibold" id="sendBtn">informer mon manager</button>
                                </div>
                            </div>
                            <!-- send button validate -->
                            <div class="padding-block--md text-center confirm-block">
                                <p class="font-size--base font-weight--md padding-block--small">Confirmez-vous l’envoi à votre manager ?</p>
                                <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" id="cancelBtn">non</button>
                                <button type="button" class="btn btn-skilly btn--lg btn-rounded btn-green font-weight--semibold" type="button" name="button" id="validateBtn">oui</button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

        </div>

    </main>

</div>
<script type="text/javascript">

jQuery(document).ready(function($){

    // collapse background
    var collapseBtn = $('.collapse-button a');

    collapseBtn.click(function() {
        $(this).parents('.collapse-wrapper').toggleClass('bg--verylightgray');
    });

    //tooltips
    $('[data-toggle="tooltip"]').tooltip();

    // button send
    var sendBtn=$('#sendBtn');
    var sendBlock=$('.send-manager');
    var confirmBlock=$('.confirm-block');

    sendBtn.click(function(){
        sendBlock.toggle();
        confirmBlock.toggle();
    });

    // cancel send
    var cancelBtn=$('#cancelBtn');

    cancelBtn.click(function(){
        sendBlock.toggle();
        confirmBlock.toggle();
    });

});

</script>
{% endblock %}
