<!DOCTYPE html>
<html lang="fr" dir="ltr">

<!-- head -->
{% include 'partials/head.twig' %}

<body class="{{ isPage('home') }}">

    <!-- header -->
    {% block header %}

        {% include 'partials/header.twig' %}

    {% endblock %}

    <!-- content -->
    {% block content %}

    {% endblock %}

</body>

<!-- footer -->
{% include 'partials/footer.twig' %}
