{#
Page - perfectionner
invision:6.1 & 6.2
#}

{% extends 'layout.twig' %}

{% block content %}
<div class="container padding-block--base">

    <main>

        <div class="bg--white">

            {% include 'partials/profil-menu.twig' %}

            <div class="padding-content">
                <h1>Formations</h1>
            </div>

        </div>

    </main>

</div>

{% endblock %}
