.btn-skilly{
    text-transform: uppercase;
    &--md{
        height: 32px;
        font-size: 15px;
    }
    &--lg{
        height: 50px;
        font-size: 18px;
    }
}
.btn-rounded{
    border-radius: 5px;
}
