.btn, button{
    .transition(all 0.3s ease 0s);
}

.btn-skilly{
    text-transform: uppercase;
    font-family: @secondfont;
}
.btn{
    &--md{
        height: 32px;
        font-size: 15px;
    }
    &--lg{
        font-size: 18px;
        padding: 10px 40px;
        height: 50px;
        @media(max-width: @screen-xs){
            font-size: 16px;
            padding: 10px 30px;
        }
    }
}
.btn-rounded{
    .border-radius(5px);
}
.btn-gray{
    border:1.32px solid @grayishBlue;
    color: @grayishBlue;
    &:hover{
        background-color: @grayishBlue;
        color: white;
    }
}
.btn-blue{
    background-color: @blue;
    color: white;
    &:hover{
        background-color: white;
        color: @blue;
        border:1px solid @blue;
    }
}

.btn-green{
    background-color: @green;
    color: white;
    &:hover{
        background-color: @darkGreen;
        color: white;
    }
}
.btn-icon{
    background: none;
    border:none;
    padding:0;
}

.btn-reset{
    padding:0;
    background: transparent;
    &:hover{
        color: inherit;
    }
}
.btn-group{
    .btn{
        margin-right: 50px;
    }
}
.btn-download{
    border:2px solid @blue;
    height: 37px;
    font-size: 15px;
    color: @blue;
    &:hover{
        color: @blue;
    }
}
.btn-return{
    position: absolute;
    top: 5%;
    left: 3%;
}
