.translateY (@y) {
	-webkit-transform:   translateY(@y);
	-moz-transform: 	 translateY(@y);
	-ms-transform: 		 translateY(@y);
	-o-transform: 		 translateY(@y);
    transform:           translateY(@y);
}
.translateX (@x) {
	-webkit-transform:   translateX(@x);
	-moz-transform: 	 translateX(@x);
	-ms-transform: 		 translateX(@x);
	-o-transform: 		 translateX(@x);
    transform:           translateX(@x);
}
.translate (@x,@y) {
	-webkit-transform:   translate(@x,@y);
	-moz-transform: 	 translate(@x,@y);
	-ms-transform: 		 translate(@x,@y);
	-o-transform: 		 translate(@x,@y);
    transform:           translate(@x,@y);
}

.border-radius (@radius) {
    -webkit-border-radius:     @radius;
	-moz-border-radius:        @radius;
	border-radius:             @radius;
}

.display-flex(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}
.justify-content(@position) {
  -webkit-justify-content: @position;
      -ms-justify-content: @position;
          justify-content: @position;
}
.align-items(@position) {
  -webkit-align-items: @position;
      -ms-align-items: @position;
          align-items: @position;
}

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
