.font-size{
    &--sm{
        font-size: 18px;
    }
    &--normal{
        font-size: 23px;
    }
    &--md{
        font-size: 28px;
    }
    &--lg{
        font-size: 30px;
    }
}

.font-weight{
    &--md{
        font-weight: 300;
    }
    &--bold{
        font-weight: 900;
    }
}
.text-underline{
    text-decoration: underline;
}
